<mdb-card>
  <!--Card image-->
  <mdb-card-img [src]="image.path" alt="Card image cap"></mdb-card-img>
  <!--Card content-->
  <mdb-card-body>

    <!--Title-->
    <mdb-card-title>
      <h4>Card Title</h4>
    </mdb-card-title>

    <!--Text-->
    <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
      content.
    </mdb-card-text>

    <a mdbBtn color="primary" (click)="deleteImage()" mdbWavesEffect>Button</a>
  </mdb-card-body>
</mdb-card>